<a href="https://colab.research.google.com/github/parthpanchal620/data_analysis/blob/main/Working_with_numpy(pandas)_Assement_1_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.2.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import pandas as pd

In [ ]:

# Replace backslashes with forward slashes
# 1) Import pandas and read in the banklist.csv file into a dataframe called banks.
# 2) Show the head of the dataframe.
file_path = 'C:/Users/admin/Downloads/banklist.csv'
# Load the CSV file into a DataFrame
banks = pd.read_csv(file_path)
a = pd.DataFrame(banks)
# Display the first few rows
print(banks.head())

                                           Bank Name                City  ST  \
0                                Fayette County Bank          Saint Elmo  IL
1  Guaranty Bank, (d/b/a BestBank in Georgia & Mi...           Milwaukee  WI
2                                     First NBC Bank         New Orleans  LA
3                                      Proficio Bank  Cottonwood Heights  UT
4                      Seaway Bank and Trust Company             Chicago  IL

    CERT                Acquiring Institution Closing Date Updated Date
0   1802            United Fidelity Bank, fsb    26-May-17    26-Jul-17
1  30003  First-Citizens Bank & Trust Company     5-May-17    26-Jul-17
2  58302                         Whitney Bank    28-Apr-17    26-Jul-17
3  35495                    Cache Valley Bank     3-Mar-17    18-May-17
4  19328                  State Bank of Texas    27-Jan-17    18-May-17

In [ ]:
# Creating a DataFrame (correct syntax)
a = pd.DataFrame(banks)
# Display the first few rows
print(banks.head())

                                           Bank Name                City  ST  \
0                                Fayette County Bank          Saint Elmo  IL
1  Guaranty Bank, (d/b/a BestBank in Georgia & Mi...           Milwaukee  WI
2                                     First NBC Bank         New Orleans  LA
3                                      Proficio Bank  Cottonwood Heights  UT
4                      Seaway Bank and Trust Company             Chicago  IL

    CERT                Acquiring Institution Closing Date Updated Date
0   1802            United Fidelity Bank, fsb    26-May-17    26-Jul-17
1  30003  First-Citizens Bank & Trust Company     5-May-17    26-Jul-17
2  58302                         Whitney Bank    28-Apr-17    26-Jul-17
3  35495                    Cache Valley Bank     3-Mar-17    18-May-17
4  19328                  State Bank of Texas    27-Jan-17    18-May-17
<bound method NDFrame.head of                                              Bank Name                City  \
0                                  Fayette County Bank          Saint Elmo
1    Guaranty Bank, (d/b/a BestBank in Georgia & Mi...           Milwaukee
2                                       First NBC Bank         New Orleans
3                                        Proficio Bank  Cottonwood Heights
4                        Seaway Bank and Trust Company             Chicago
..                                                 ...                 ...
548                                 Superior Bank, FSB            Hinsdale
549                                Malta National Bank               Malta
550                    First Alliance Bank & Trust Co.          Manchester
551                  National State Bank of Metropolis          Metropolis
552                                   Bank of Honolulu            Honolulu

     ST   CERT                Acquiring Institution Closing Date Updated Date
0    IL   1802            United Fidelity Bank, fsb    26-May-17    26-Jul-17
1    WI  30003  First-Citizens Bank & Trust Company     5-May-17    26-Jul-17
2    LA  58302                         Whitney Bank    28-Apr-17    26-Jul-17
3    UT  35495                    Cache Valley Bank     3-Mar-17    18-May-17
4    IL  19328                  State Bank of Texas    27-Jan-17    18-May-17
..   ..    ...                                  ...          ...          ...
548  IL  32646                Superior Federal, FSB    27-Jul-01    19-Aug-14
549  OH   6629                    North Valley Bank     3-May-01    18-Nov-02
550  NH  34264  Southern New Hampshire Bank & Trust     2-Feb-01    18-Feb-03
551  IL   3815              Banterra Bank of Marion    14-Dec-00    17-Mar-05
552  HI  21029                   Bank of the Orient    13-Oct-00    17-Mar-05

[553 rows x 7 columns]>

In [ ]:
# 3) What are the column names?
# Re-import pandas and reload the file since the environment was reset
import pandas as pd

# File path for the re-uploaded banklist.csv file
file_path = 'C:/Users/admin/Downloads/banklist.csv'
banks = pd.read_csv(file_path)

# Display the column names of the DataFrame
banks.columns.tolist()

['Bank Name',
 'City',
 'ST',
 'CERT',
 'Acquiring Institution',
 'Closing Date',
 'Updated Date']

In [ ]:
# 4) How many States (ST) are represented in this data set?
import pandas as pd

# Specify the file path to your CSV file
file_path = r'C:\Users\admin\Downloads\banklist.csv'

# Load the CSV file into a DataFrame
banks = pd.read_csv(file_path)

# Count the number of unique states in the 'ST' column

unique_states_count = banks['ST'].nunique()
print(f"There are {unique_states_count} unique states represented in this dataset.")
unique_states_count = banks['ST'].unique()
print(f"There are {unique_states_count} unique states represented in this dataset.")

There are 44 unique states represented in this dataset.
There are ['IL' 'WI' 'LA' 'UT' 'NJ' 'AR' 'GA' 'PA' 'TN' 'WA' 'CO' 'PR' 'FL' 'MN'
 'CA' 'MD' 'OK' 'OH' 'SC' 'VA' 'ID' 'TX' 'CT' 'AZ' 'NV' 'NC' 'KY' 'MO'
 'KS' 'AL' 'MI' 'IN' 'IA' 'NE' 'MS' 'NM' 'OR' 'NY' 'MA' 'SD' 'WY' 'WV'
 'NH' 'HI'] unique states represented in this dataset.

In [ ]:
# 5) Get a list or array of all the states in the data set.
import pandas as pd

# Specify the file path to your CSV file
file_path = r'C:\Users\admin\Downloads\banklist.csv'

# Load the CSV file into a DataFrame
banks = pd.read_csv(file_path)

# Get a list of all unique states
unique_states = banks['ST'].unique()

print("List of unique states:", unique_states)

List of unique states: ['IL' 'WI' 'LA' 'UT' 'NJ' 'AR' 'GA' 'PA' 'TN' 'WA' 'CO' 'PR' 'FL' 'MN'
 'CA' 'MD' 'OK' 'OH' 'SC' 'VA' 'ID' 'TX' 'CT' 'AZ' 'NV' 'NC' 'KY' 'MO'
 'KS' 'AL' 'MI' 'IN' 'IA' 'NE' 'MS' 'NM' 'OR' 'NY' 'MA' 'SD' 'WY' 'WV'
 'NH' 'HI']

In [ ]:
unique_states_count = banks['Bank Name'].unique()
print(f"There are {unique_states_count} unique states represented in this dataset.")
unique_states_count = banks['Bank Name'].nunique()
print(f"There are {unique_states_count} unique states represented in this dataset.")

There are ['Fayette County Bank'
 'Guaranty Bank, (d/b/a BestBank in Georgia & Michigan) ' 'First NBC Bank'
 'Proficio Bank' 'Seaway Bank and Trust Company' 'Harvest Community Bank'
 'Allied Bank' 'The Woodbury Banking Company' 'First CornerStone Bank'
 'Trust Company Bank' 'North Milwaukee State Bank'
 'Hometown National Bank' 'The Bank of Georgia' 'Premier Bank'
 'Edgebrook Bank' 'Doral Bank' 'Capitol City Bank & Trust Company'
 'Highland Community Bank' 'First National Bank of Crestview '
 'Northern Star Bank' 'Frontier Bank, FSB D/B/A El Paseo Bank'
 'The National Republic Bank of Chicago' 'NBRS Financial'
 'GreenChoice Bank, fsb' 'Eastside Commercial Bank'
 'The Freedom State Bank ' 'Valley Bank' 'Slavie Federal Savings Bank'
 'Columbia Savings Bank' 'AztecAmerica Bank ' 'Allendale County Bank'
 'Vantage Point Bank' 'Millennium Bank, National Association '
 'Syringa Bank' 'The Bank of Union' 'DuPage National Bank'
 'Texas Community Bank, National Association' 'Bank of Jackson County'
 'First National Bank also operating as The National Bank of El Paso'
 "The Community's Bank" 'Sunrise Bank of Arizona' 'Community South Bank'
 'Bank of Wausau'
 'First Community Bank of Southwest Florida (also operating as Community Bank of Cape Coral)'
 'Mountain National Bank' '1st Commerce Bank'
 'Banks of Wisconsin d/b/a Bank of Kenosha' 'Central Arizona Bank'
 'Sunrise Bank' 'Pisgah Community Bank' 'Douglas County Bank'
 'Parkway Bank' 'Chipola Community Bank' 'Heritage Bank of North Florida'
 'First Federal Bank' 'Gold Canyon Bank' 'Frontier Bank' 'Covenant Bank'
 '1st Regents Bank' 'Westside Community Bank'
 'Community Bank of the Ozarks' 'Hometown Community Bank'
 'Citizens First National Bank' 'Heritage Bank of Florida' 'NOVA Bank'
 'Excel Bank' 'First East Side Savings Bank' 'GulfSouth Private Bank'
 'First United Bank' 'Truman Bank' 'First Commercial Bank'
 'Waukegan Savings Bank' 'Jasper Banking Company'
 'Second Federal Savings and Loan Association of Chicago' 'Heartland Bank'
 'First Cherokee State Bank' 'Georgia Trust Bank'
 'The Royal Palm Bank of Florida' 'Glasgow Savings Bank'
 'Montgomery Bank & Trust' 'The Farmers Bank of Lynchburg'
 'Security Exchange Bank' 'Putnam State Bank' 'Waccamaw Bank'
 "Farmers' and Traders' State Bank" 'Carolina Federal Savings Bank'
 'First Capital Bank' 'Alabama Trust Bank, National Association'
 'Security Bank, National Association' 'Palm Desert National Bank'
 'Plantation Federal Bank' 'Inter Savings Bank, fsb D/B/A InterBank, fsb'
 'HarVest Bank of Maryland' 'Bank of the Eastern Shore'
 'Fort Lee Federal Savings Bank, FSB' 'Fidelity Bank'
 'Covenant Bank & Trust' 'New City Bank' 'Global Commerce Bank'
 'Home Savings of America' 'Central Bank of Georgia' 'SCB Bank'
 'Charter National Bank and Trust' 'BankEast' 'Patriot Bank Minnesota'
 'Tennessee Commerce Bank'
 'First Guaranty Bank and Trust Company of Jacksonville'
 'American Eagle Savings Bank' 'The First State Bank'
 'Central Florida State Bank' 'Western National Bank'
 'Premier Community Bank of the Emerald Coast' 'Central Progressive Bank'
 'Polk County Bank' 'Community Bank of Rockmart' 'SunFirst Bank'
 'Mid City Bank, Inc.' 'All American Bank' 'Community Banks of Colorado'
 'Community Capital Bank' 'Decatur First Bank' 'Old Harbor Bank'
 'Country Bank' 'First State Bank' 'Blue Ridge Savings Bank, Inc.'
 'Piedmont Community Bank' 'Sun Security Bank' 'The RiverBank'
 'First International Bank' 'Citizens Bank of Northern California'
 'Bank of the Commonwealth' 'The First National Bank of Florida'
 'CreekSide Bank' 'Patriot Bank of Georgia' 'First Choice Bank'
 'First Southern National Bank' 'Lydian Private Bank'
 'Public Savings Bank' 'The First National Bank of Olathe'
 'Bank of Whitman' 'Bank of Shorewood' 'Integra Bank National Association'
 'BankMeridian, N.A.' 'Virginia Business Bank' 'Bank of Choice'
 'LandMark Bank of Florida' 'Southshore Community Bank' 'Summit Bank'
 'First Peoples Bank' 'High Trust Bank' 'One Georgia Bank'
 'Signature Bank' 'Colorado Capital Bank' 'First Chicago Bank & Trust'
 'Mountain Heritage Bank' 'First Commercial Bank of Tampa Bay'
 'McIntosh State Bank' 'Atlantic Bank and Trust' 'First Heritage Bank'
 'First Georgia Banking Company' 'Atlantic Southern Bank' 'Coastal Bank'
 'Community Central Bank' 'The Park Avenue Bank'
 'First Choice Community Bank' 'Cortez Community Bank'
 'First National Bank of Central Florida' 'Heritage Banking Group'
 'Rosemount National Bank' 'Superior Bank' 'Nexity Bank'
 'New Horizons Bank' 'Bartow County Bank' 'Nevada Commerce Bank'
 'Western Springs National Bank and Trust' 'The Bank of Commerce'
 'Legacy Bank' 'First National Bank of Davis' 'Valley Community Bank'
 'San Luis Trust Bank, FSB' 'Charter Oak Bank'
 'Citizens Bank of Effingham' 'Habersham Bank' 'Canyon National Bank'
 'Badger State Bank' 'Peoples State Bank' 'Sunshine State Community Bank'
 'Community First Bank Chicago' 'North Georgia Bank' 'American Trust Bank'
 'First Community Bank' 'FirsTier Bank' 'Evergreen State Bank'
 'United Western Bank' 'The Bank of Asheville'
 'CommunitySouth Bank & Trust' 'Enterprise Banking Company'
 'Oglethorpe Bank' 'First Commercial Bank of Florida'
 'Community National Bank' 'First Southern Bank'
 'United Americas Bank, N.A.' 'Appalachian Community Bank, FSB'
 'Chestatee State Bank' 'The Bank of Miami,N.A.' 'Earthstar Bank'
 'Paramount Bank' 'First Banking Center'
 'Allegiance Bank of North America' 'Gulf State Community Bank'
 'Copper Star Bank' 'Darby Bank & Trust Co.' 'Tifton Banking Company'
 'First Vietnamese American Bank' 'Pierce Commercial Bank'
 'Western Commercial Bank' 'K Bank' 'First Arizona Savings, A FSB'
 'Hillcrest Bank' 'First Suburban National Bank'
 'The First National Bank of Barnesville' 'The Gordon Bank'
 'Progress Bank of Florida' 'First Bank of Jacksonville'
 'WestBridge Bank and Trust Company' 'Security Savings Bank, F.S.B.'
 'Shoreline Bank' 'Wakulla Bank' 'North County Bank'
 'Haven Trust Bank Florida' 'Maritime Savings Bank' 'Bramble Savings Bank'
 'The Peoples Bank' 'First Commerce Community Bank' 'Bank of Ellijay'
 'ISN Bank' 'Horizon Bank' 'Sonoma Valley Bank' 'Los Padres Bank'
 'Butte Community Bank' 'Pacific State Bank' 'ShoreBank'
 'Imperial Savings and Loan Association' 'Independent National Bank'
 'Community National Bank at Bartow' 'Palos Bank and Trust Company'
 'Ravenswood Bank' 'LibertyBank' 'The Cowlitz Bank'
 'Coastal Community Bank' 'Bayside Savings Bank' 'Northwest Bank & Trust'
 'Home Valley Bank' 'SouthwestUSA Bank' 'Community Security Bank'
 'Thunder Bank' 'Williamsburg First National Bank'
 'Crescent Bank and Trust Company' 'Sterling Bank'
 'Mainstreet Savings Bank, FSB' 'Olde Cypress Community Bank'
 'Turnberry Bank' 'Metro Bank of Dade County'
 'First National Bank of the South' 'Woodlands Bank' 'Home National Bank'
 'USA Bank' 'Ideal Federal Savings Bank' 'Bay National Bank'
 'High Desert State Bank' 'First National Bank' 'Peninsula Bank'
 'Nevada Security Bank' 'Washington First International Bank'
 'TierOne Bank' 'Arcola Homestead Savings Bank' 'Sun West Bank'
 'Granite Community Bank, NA' 'Bank of Florida - Tampa'
 'Bank of Florida - Southwest' 'Bank of Florida - Southeast'
 'Pinehurst Bank' 'Midwest Bank and Trust Company'
 'Southwest Community Bank' 'New Liberty Bank' 'Satilla Community Bank'
 '1st Pacific Bank of California' 'Towne Bank of Arizona' 'Access Bank'
 'The Bank of Bonifay' 'BC National Banks' 'Champion Bank' 'CF Bancorp'
 'Westernbank Puerto Rico' 'R-G Premier Bank of Puerto Rico' 'Eurobank'
 'Wheatland Bank' 'Peotone Bank and Trust Company'
 'Lincoln Park Savings Bank' 'New Century Bank'
 'Citizens Bank and Trust Company of Chicago' 'Broadway Bank'
 'Amcore Bank, National Association' 'City Bank' 'Tamalpais Bank'
 'Innovative Bank' 'Butler Bank' 'Riverside National Bank of Florida'
 'AmericanFirst Bank' 'First Federal Bank of North Florida'
 'Lakeside Community Bank' 'Beach First National Bank' 'Desert Hills Bank'
 'Unity National Bank' 'Key West Bank' 'McIntosh Commercial Bank'
 'State Bank of Aurora' 'First Lowndes Bank' 'Bank of Hiawassee'
 'Appalachian Community Bank' 'Advanta Bank Corp.' 'Century Security Bank'
 'American National Bank' 'Statewide Bank' 'Old Southern Bank'
 'LibertyPointe Bank' 'Centennial Bank' 'Waterfield Bank'
 'Bank of Illinois' 'Sun American Bank' 'Rainier Pacific Bank'
 'Carson River Community Bank' 'La Jolla Bank, FSB'
 'George Washington Savings Bank' 'The La Coste National Bank'
 'Marco Community Bank' '1st American State Bank of Minnesota'
 'American Marine Bank' 'First Regional Bank' 'Community Bank and Trust'
 'Marshall Bank, N.A.' 'Florida Community Bank'
 'First National Bank of Georgia' 'Columbia River Bank' 'Evergreen Bank'
 'Charter Bank' 'Bank of Leeton' 'Premier American Bank'
 'Barnes Banking Company' 'St. Stephen State Bank'
 'Town Community Bank & Trust' 'First Federal Bank of California, F.S.B.'
 'Imperial Capital Bank' "Independent Bankers' Bank"
 'New South Federal Savings Bank' 'Citizens State Bank'
 'Peoples First Community Bank' 'RockBridge Commercial Bank'
 'SolutionsBank' 'Valley Capital Bank, N.A.' 'Republic Federal Bank, N.A.'
 'Greater Atlantic Bank' 'Benchmark Bank' 'AmTrust Bank'
 'The Tattnall Bank' 'First Security National Bank'
 'The Buckhead Community Bank' 'Commerce Bank of Southwest Florida'
 'Pacific Coast National Bank' 'Orion Bank' 'Century Bank, F.S.B.'
 'United Commercial Bank' 'Gateway Bank of St. Louis' 'Prosperan Bank'
 'Home Federal Savings Bank' 'United Security Bank' 'North Houston Bank'
 'Madisonville State Bank' 'Citizens National Bank' 'Park National Bank'
 'Pacific National Bank' 'California National Bank'
 'San Diego National Bank' 'Community Bank of Lemont' 'Bank USA, N.A.'
 'First DuPage Bank' 'Riverview Community Bank' 'Bank of Elmwood'
 'Flagship National Bank' 'Hillcrest Bank Florida' 'American United Bank'
 'Partners Bank' 'San Joaquin Bank' 'Southern Colorado National Bank'
 'Jennings State Bank' 'Warren Bank' 'Georgian Bank'
 'Irwin Union Bank, F.S.B.' 'Irwin Union Bank and Trust Company'
 'Venture Bank' 'Brickwell Community Bank' 'Corus Bank, N.A.'
 'Platinum Community Bank' 'Vantus Bank' 'InBank'
 'First Bank of Kansas City' 'Affinity Bank' 'Mainstreet Bank'
 'Bradford Bank' 'Guaranty Bank' 'CapitalSouth Bank' 'First Coweta Bank'
 'ebank' 'Community Bank of Nevada' 'Community Bank of Arizona'
 'Union Bank, National Association' 'Colonial Bank'
 'Dwelling House Savings and Loan Association' 'Community First Bank'
 'Community National Bank of Sarasota County' 'Mutual Bank'
 'First BankAmericano' 'Peoples Community Bank' 'Integrity Bank'
 'First State Bank of Altus' 'Security Bank of Jones County'
 'Security Bank of Houston County' 'Security Bank of Bibb County'
 'Security Bank of North Metro' 'Security Bank of North Fulton'
 'Security Bank of Gwinnett County' 'Waterford Village Bank'
 'Temecula Valley Bank' 'Vineyard Bank' 'BankFirst' 'First Piedmont Bank'
 'Bank of Wyoming' 'Founders Bank' 'Millennium State Bank of Texas'
 'First National Bank of Danville' 'Elizabeth State Bank'
 'Rock River Bank' 'First State Bank of Winchester' 'John Warner Bank'
 'Mirae Bank' 'MetroPacific Bank' 'Neighborhood Community Bank'
 'Community Bank of West Georgia' 'First National Bank of Anthony'
 'Cooperative Bank' 'Southern Community Bank' 'Bank of Lincolnwood'
 'Strategic Capital Bank' 'BankUnited, FSB' 'Westsound Bank'
 'America West Bank' 'Citizens Community Bank' 'Silverton Bank, NA'
 'First Bank of Idaho' 'First Bank of Beverly Hills'
 'Michigan Heritage Bank' 'American Southern Bank'
 'Great Basin Bank of Nevada' 'American Sterling Bank' 'New Frontier Bank'
 'Cape Fear Bank' 'Omni National Bank' 'TeamBank, NA'
 'Colorado National Bank' 'FirstCity Bank' 'Freedom Bank of Georgia'
 'Security Savings Bank' 'Heritage Community Bank' 'Silver Falls Bank'
 'Pinnacle Bank of Oregon' 'Corn Belt Bank & Trust Co.'
 'Riverside Bank of the Gulf Coast' 'Sherman County Bank' 'County Bank'
 'Alliance Bank' 'FirstBank Financial Services' 'Ocala National Bank'
 'Suburban FSB' 'MagnetBank' '1st Centennial Bank' 'Bank of Clark County'
 'National Bank of Commerce' 'Sanderson State Bank' 'Haven Trust Bank'
 'First Georgia Community Bank' 'PFF Bank & Trust' 'Downey Savings & Loan'
 'Community Bank' 'Security Pacific Bank' 'Franklin Bank, SSB'
 'Freedom Bank' 'Alpha Bank & Trust' 'Meridian Bank' 'Main Street Bank'
 'Washington Mutual Bank (Including its subsidiary Washington Mutual Bank FSB)'
 'Ameribank' 'Silver State Bank' 'Columbian Bank & Trust'
 'First Priority Bank' 'First Heritage Bank, NA'
 'First National Bank of Nevada' 'IndyMac Bank' 'First Integrity Bank, NA'
 'ANB Financial, NA' 'Hume Bank' 'Douglass National Bank'
 'Miami Valley Bank' 'NetBank' 'Metropolitan Savings Bank'
 'Bank of Ephraim' 'Reliance Bank' 'Guaranty National Bank of Tallahassee'
 'Dollar Savings Bank' 'Pulaski Savings Bank'
 'First National Bank of Blanchardville' 'Southern Pacific Bank'
 'Farmers Bank of Cheneyville' 'Bank of Alamo'
 'AmTrade International Bank' 'Universal Federal Savings Bank'
 'Connecticut Bank of Commerce' 'Net 1st National Bank' 'NextBank, NA'
 'Oakwood Deposit Bank Co.' 'Bank of Sierra Blanca' 'Hamilton Bank, NA'
 'Sinclair National Bank' 'Superior Bank, FSB' 'Malta National Bank'
 'First Alliance Bank & Trust Co.' 'National State Bank of Metropolis'
 'Bank of Honolulu'] unique states represented in this dataset.
There are 537 unique states represented in this dataset.

In [ ]:
unique_states_count = banks['Bank Name'].nunique()
print(f"There are {unique_states_count} unique states represented in this dataset.")

There are 537 unique states represented in this dataset.

In [ ]:
# (6) What are the top 5 states with the most failed banks?
# Count the number of failed banks by state (column "ST") and sort in descending order
failed_banks_by_state = banks['ST'].value_counts()

# Extract the top 5 states with the most failed banks
top_5_states = failed_banks_by_state.head(5)
top_5_states

ST
GA    93
FL    75
IL    68
CA    41
MN    23
Name: count, dtype: int64

In [ ]:
# The top 5 states with the most failed banks, based on the provided data, are:

# Georgia (GA): 93 failed banks
# Florida (FL): 75 failed banks
# Illinois (IL): 68 failed banks
# California (CA): 41 failed banks
# Minnesota (MN): 23 failed banks

In [ ]:
 # (7) What are the top 5 acquiring institutions?
Acquiring_Institutions_by_Banks = banks['Acquiring Institution'].value_counts()

# Extract the top 5 states with the most failed banks
top_5_Acquiring_Institution= Acquiring_Institutions_by_Banks.head(5)
top_5_Acquiring_Institution

Acquiring Institution
No Acquirer                            31
State Bank and Trust Company           12
First-Citizens Bank & Trust Company    11
Ameris Bank                            10
U.S. Bank N.A.                          9
Name: count, dtype: int64

In [ ]:
# 8) How many banks has the State Bank of Texas acquired? How many of them were actually in Texas?
State_bank_of_texas_acquired = banks[banks['Acquiring Institution'] == 'State Bank of Texas']
State_bank_of_texas= State_bank_of_texas_acquired.head()
State_bank_of_texas

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17
21,The National Republic Bank of Chicago,Chicago,IL,916,State Bank of Texas,24-Oct-14,6-Jan-16
450,Millennium State Bank of Texas,Dallas,TX,57667,State Bank of Texas,2-Jul-09,26-Oct-12

In [ ]:
# 9) What is the most common city in California for a bank to fail in?
# Filter the data for banks in California (CA)
Failed_california_banks = banks[banks['ST'] == 'CA']
# Count the number of failed banks per city
city_counts = Failed_california_banks['City'].value_counts()
# Find the most common city
most_common_city = city_counts.idxmax()
most_common_city_count = city_counts.max()
most_common_city, most_common_city_count

('Los Angeles', np.int64(4))